
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #413036bd;
    background-alt: #413036bd;
    foreground:     #F18EB0FF;
    selected:       #322A2Dff;
    active:         #414868FF;
    urgent:         #322A2Dff;
}
